body {
    margin:0;
    padding:0;
    background:#eee;
    color:#333;
    text-shadow:0 1px 1px #fff;
    font: 16px/1.333 'Helvetica Nue', Arial, sans-serif;
    }

h1 {
    text-align:center;
    font-weight:normal;
    font-size:1.25em;
    }

input {
    position:absolute;
    margin-left:-17px;
    }

input:checked + label {
    color:#000;
    }

td {
    padding-right:20px;
    padding-left:20px;
    width:33.3%;
    vertical-align:top;
    }

th,
td {
    padding-bottom:15px;
    }

.author {
    color:#999;
    }

.timeline .time {
    position:absolute;
    font-size:13px;
    font-family:Consolas, monospace;
    line-height:16px;
    }

.timeline .author,
.timeline .title {
    display:block;
    padding-left:3em;
    }

.timeline .time,
.timelineinput {
    margin-top:2px;
    }

header {
    text-align:center;
    }

.page-header {
    display:inline-block;
    }

#modes {
    text-align:center;
    }
    #modes a {
        margin: 0 10px;
        border-bottom:1px solid silver;
        color:blue;
        text-decoration:none;
        }
        #modes :target {
            border:none;
            }

.modes_hidden {
    visibility:hidden;
    opacity:0;
    }

footer {
    padding-top:1em;
    text-align:center;
    font-size:12px;
    }
    footer a {
            border-bottom:1px solid;
            color:gray;
            text-decoration:none;
            }

#tip {
    display:none;
    padding:10px;
    background:lightyellow;
    }

.show {
    display:block!important;
    }

.fav li {
    margin-bottom:0.5em;
    }

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
/*this for test*/
/*only screen and (max-width: 800px) {*/
    body {
        font-size:11px;
        }

    th,
    td {
        padding-left:5px;
        padding-right:5px;
        }

    footer {
        font-size:11px;
        }

    #modes a {
        display:inline-block;
        padding:5px 8px;
        border:0;
        border-radius:4px 4px 4px 4px;
        }
        #modes :target {
            background:#d5d5d5;
            }

    .timeline input,
    .timeline .time {
        position:static;
    }

    .timeline input {
        margin:0;
        }

    .timeline .time {
        margin-left:5px;
        font-size:inherit;
        }

    .timeline .author,
    .timeline .title {
        padding-left:0;
        }

    .fav {
        padding-left:26px;
        }
        .fav li {
            margin-bottom:0.5em;
            }
}
